.App {
  display: flex;
  text-align: center;
}

.leaflet-container {
  width: 500px; 
  height: 500px;
  border: black 2px solid;
  border-radius: 999%;
}

.iss-icon {
  background: transparent;
  border: none;  
} 