.App {
  display: flex;
  text-align: center;
}

.leaflet-container {
  width: 550px; 
  height: 500px;
  border: #36393F 2px solid;
  border-radius: 5%;
}

.iss-icon {
  background: transparent;
  border: none; 
} 