.App {
  display: flex;
  text-align: center;
}

.App div {
  box-sizing: border-box;
}

div, h1, h2, h3, p, body, a, header, span, svg, ul {
  margin: 0;
  padding: 0;
}

.leaflet-container {
  width: 70vw;
  height: 40vw;
  border-radius: 10px;
  border: 1px solid black;
}

@media (max-width: 1100px) {
  .leaflet-container {
    width: 100%;
    min-width: 100%;
  }
}

.iss-icon {
  background: transparent;
  border: none; 
} 